#pizza{
    width: 80px;
    height: 80px;
    margin-left: 0px;
}

.jumbotron{
    background-image: url('./images/brett-jordan-m3cDaO6imAc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


#firstrow{
    height: 800px;
}

#firstcolumn{
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#firstpizza{
    height: 500px;
    width: 100%;
    padding: 10px;
    background-image: url('./images/thomas-tucker-MNtag_eXMKw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    color: white;
    text-align: center;
}

#formone li {
    padding: 20px;
    margin-left: 130px;
}

#formone li a{
    color: forestgreen;
    font-size: 20px;
    font-weight: 800;
}



#formone{
    position: relative;
    top: 400px;
}


#first{
    background-image: url('/IP4/images/pepperoni.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#second{
    background-image: url('/IP4/images/mincedbeef.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#third{
    background-image: url('/IP4/images/garlicbutterprawnchilli.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#fourth{
    background-image: url('/IP4/images/hamandpineapple.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#crust1{
    background-image: url('/IP4/images/thin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#crust2{
    background-image: url('/IP4/images/Chcago.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#crust3{
    background-image: url('/IP4/images/sicilian.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#large{
    background-image: url('/IP4/images/large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#medium{
    background-image: url('/IP4/images/medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#small{
    background-image: url('/IP4/images/small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#piece{
    background-image: url('/IP4/images/piece.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#crust4{
    background-image: url('/IP4/images/pexels-buenosia-carol-367915.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.col-6{
    justify-content: center;
    width: 700px;
    height: 300px;
}

.col-md-3{
    padding: 20px;
}

label{
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    font-weight:900;
    color: whitesmoke;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    position: absolute;
    top: 100px;
    size: 20vh;
    left: 150px;
    height: 30px;
    width: 50px;

}

#topping{
    width: 100%;
    padding-left: 30px;

}

#submission{
    left: 1200px;
}

.container{
    margin-left: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 115%;
    background-color:rgba(145, 145, 160, 0.116);
}

.nav-link{
    color: goldenrod;
}

.nav-link :hover{
    background-color: gray;
}