#pizza{
    width: 80px;
    height: 80px;
    margin-left: 0px;
}

.jumbotron{
    background-image: url('./images/brett-jordan-m3cDaO6imAc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


#firstrow{
    height: 800px;
}

#firstcolumn{
    justify-content: center;
    text-align: center;
}

#firstpizza{
    height: 700px;
    width: 100%;
    padding: 10px;
    background-image: url('./images/thomas-tucker-MNtag_eXMKw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#desert{
    width: 400px;
    height: 370px;
}

h1{
    color: white;
    text-align: center;
}

#formone li {
    padding: 20px;
    margin-left: 130px;
}

#formone li a{
    color: snow;
    font-size: 20px;
    font-weight: 800;
}

#home{
    padding: 10px;
}